:root { 
--cyan_A200:#17f3dd; 
--black_900:#000000; 
--blue_gray_500:#677395; 
--gray_900:#0e1321; 
--yellow_900:#f67711; 
--gray_900_01:#081b2f; 
--blue_gray_700:#3c4a71; 
--deep_purple_A200:#9c51ff; 
--blue_gray_900:#1e2740; 
--teal_900_35:#10403635; 
--white_A700:#ffffff; 
}